# auth credentials for the evaluation server
AUTH_EMAIL=your_email@example.com
AUTH_NAME=your name
AUTH_ROLL_NO=your_roll_no
AUTH_ACCESS_CODE=your_access_code
AUTH_CLIENT_ID=your_client_id
AUTH_CLIENT_SECRET=your_client_secret

# server config
PORT=5001
